.empty-state{
    font-size: 20px;
    color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.keen-slider__slide {
  min-width: 250px;
}

.slider__wrapper {
  position: relative;
}

.arrow:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.nft__loading--container {
  display: flex;
  margin: 0 auto;
  gap: 15px;
  flex-wrap: wrap;
}

.nft_coll--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  flex: 1;
  max-width: 250px;
}

.nft__img--loading {
  padding: 20px 60px;
  background-color: rgba(0, 0, 0, 0.2);
  animation: pulse 1s infinite linear;
}

.nft__author-img--loading {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  animation: pulse 1s infinite linear;
}

.nft__title--loading {
  width: 170px;
  padding: 10px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  animation: pulse 1s infinite linear;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: translateX(-1);
  }
  50% {
    opacity: 0.75;
    transform: translateX(1);
  }
  100% {
    opacity: 1;
    transform: translateX(-1);
  }
}