*{
    box-sizing: border-box;
}

.skeleton{
    animation: shimmer 2s infinite linear;
}

@keyframes shimmer{
    0%{
       opacity: 1;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

.author__img--loading{
    width: 100px;
    height: 50px;
    background-color: gray;
    border-radius: 50px;
}